In [1]:
import pandas as pd

In [18]:
df1 = pd.read_csv('records_test_full_gemma.csv', index_col=0)
# df2 = pd.read_csv('records_train_full_gemma1.csv', index_col=0)

# df = pd.concat([df1, df2], axis=0).drop_duplicates(subset=['question'])
# df.to_csv('records_train_full_gemma.csv')
df1

,question,response,answer,p_true,true_answer,correct
0,James decides to run 3 sprints 3 times a week....,Here's how to solve the problem:\n\n* **Meters...,540,0.999996,540,True
1,A robe takes 2 bolts of blue fiber and half th...,Here's how to solve the problem:\n\n* **White ...,3,0.999999,3,True
2,Janet’s ducks lay 16 eggs per day. She eats th...,Here's how to solve the problem:\n\n* **Calcul...,18,0.999998,18,True
3,Eliza's rate per hour for the first 40 hours s...,Here's how to calculate Eliza's earnings:\n\n*...,460,0.999997,460,True
4,"Every day, Wendi feeds each of her chickens th...",Here's how to solve the problem:\n\n* **Calcul...,20,0.999985,20,True
...,...,...,...,...,...,...
1314,Henry and 3 of his friends order 7 pizzas for ...,Here's how to solve the problem:\n\n* **Calcul...,14,0.999995,14,True
1315,There are some oranges in a basket. Ana spends...,Here's how to solve this problem:\n\n* **Calcu...,5,0.999994,5,True
1316,Mark's car breaks down and he needs to get a n...,Here's how to break down the problem:\n\n* **D...,230,0.999996,230,True
1317,John had a son James when he was 19. James is...,Here's how to solve the problem:\n\n* **Find D...,8,0.999992,8,True
1318,"Farmer Brown has 20 animals on his farm, all e...",Here's how to solve this problem:\n\n**1. Set ...,5,0.999997,5,True